---
---

@import "{{ site.theme }}";
.wrapper {
  width:1000px;
  margin:0 auto;
  position:relative;
}

img{
width: 600px;
transition: transform .1s;
}
img:hover{
-ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.5);
}
